doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='orlando, AR, Augmented Reality, Launch Cards, Hello Alice, Business Cards, launchable, design, development, app development, web development, mobile app development, mobile web development, web design, responsive web design, iphone, android, ios, home')
    meta(name='description', content='We are Launchable. We take your digital idea and turn it into a launchable product. We provide graphic design, web development and mobile app development services.')
    meta(name='author', content='Launchable LLC.')
    title Launchable!
    // Bootstrap Core CSS
    link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
    // <link rel="stylesheet" href="css/flipclock.css">
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
    // Plugin CSS
    link(rel='stylesheet', href='css/animate.min.css', type='text/css')
    // Custom CSS
    link(rel='stylesheet', href='css/creative.css', type='text/css')
    link(rel='stylesheet', href='css/scss/custom.min.css', type='text/css')
    // Social Media CSS
    link(href='css/social_Media.css', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='clock_assets/flipclock.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top.silver-bg
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll.launchable-orange(href='#page-top') launchable
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse

        // /.navbar-collapse
      // /.container-fluid
    include partials/header
    #fh5co-products.row
      #about.col-lg-6.col-lg-offset-3.text-center
        h1.fh5co-lead.to-animate.uppercase
          | About
        hr.primary
        p With augmented reality growing, we are a mesh of designers and developers that utilize our ideas to create some spectacular products! Located in downtown Orlando, this is Launchable.
    section#fh5co-products.row.white-bg
      #launchcard.col-lg-6.col-lg-offset-3.text-center
        h1.fh5co-lead.to-animate.uppercase
          | Launchable App
          
        .row(style="margin-top: 20px;")
            .col-md-7
                p
                | With your phone always in hand, how will you see the world differently? Free and available on iOS and Android, “Launchable” uses augmented reality by just simply pointing your camera on a flat surface! An animation to engage your eyes or an informative video, you can make anything come to life!
            .col-md-1
            .col-md-4
                img.img-responsive.img-thumbnail( src="./img/launch_cards.png" alt="launch card image")
                a(href='https://madebylaunchable.com')
                    button.btn.btn-primary.btn-block.btn-lg(style="margin-top: 20px;")
                        | Learn More
    section#video-landing
      #alice.col-md-8.col-md-offset-2.fh5co-section-heading.text-center
        img.img-responsive.middle.alicelogo(src="./img/alice.png" alt="alice logo")
        h1.fh5co-lead.to-animate.alicegif
          b Hello
          |  Alice
          br
        p.fh5co-sub.to-animate
          br
          b
            | Say hello to your new teacher and friend Alice. 
            br
        .col-md-4.col-md-offset-4
          label
          a.alicegif(href='https://helloalice.org')
            button.btn.btn-primary.btn-block.btn-lg(type='Send')
              | Learn More
      video#bgvid.alicegif(autoplay='autoplay', loop='loop')
        source(src='https://s3.amazonaws.com/launchable/Alice+blur.mp4', type='video/mp4')

    .container
      section#contact
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading(style="margin-top: 70px;") Let's Get In Touch!
            hr.primary
            p
              br
          .col-lg-8.col-lg-offset-2.text-center
          .row
            .col-lg-6.col-sm-7.wow.fadeInLeft
              .contact-info-box.address.clearfix
                h3
                  i.fa.fa-map-marker
                  | Address:
                br
                .grr
                  | 225 E Robinson St #660
                  br
                  | Orlando, FL 32801
              .contact-info-box.phone.clearfix
                h3
                  i.fa.fa-phone
                  | Phone:
                br
                .grr 407-906-3034
              .contact-info-box.email.clearfix
                h3
                  i.fa.fa-envelope
                  | email:
                br
                .grr hello@teamlaunchable.com
            .col-lg-6.col-sm-5.wow.fadeInUp.delay-05s
              .form
                form#contactForm(action='//formspree.io/alfred@teamlaunchable.com', name='sentMessage', method='POST', novalidate='')
                  .row.control-group
                    .form-group.col-xs-12.floating-label-form-group.controls
                      input#name.form-control(type='text', placeholder='Name', name='firstname', required='', data-validation-required-message='Please enter your name.')
                      p.help-block
                  .row.control-group
                    .form-group.col-xs-12.floating-label-form-group.controls
                      input#email.form-control(type='email', placeholder='Email Address', name='email', required='', data-validation-required-message='Please enter your email address.')
                      p.help-block.text-danger
                  .row.control-group
                    .form-group.col-xs-12.floating-label-form-group.controls
                      input#phone.form-control(type='tel', placeholder='Phone Number', name='phone', required='', data-validation-required-message='Please enter your phone number.')
                      p.help-block.text-danger
                  .row.control-group
                    .form-group.col-xs-12.floating-label-form-group.controls
                      textarea#message.form-control(rows='5', placeholder='Tell us a brief description about your idea...', name='message', required='', data-validation-required-message='Please enter a message.')
                      p.help-block.text-danger
                  br
                  #success
                  .row
                    .col-lg-8.col-lg-offset-2.text-center
                      button.btn.btn-primary.btn-xl(type='submit') Send
    //- script(src='js/flipclock.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //- script(src='js/GetTime.js')
    // jQuery
    //- script(src='js/jquery.js')
    //- script(src='http://dimension.su/scripts/flip-countdown/js/jquery-1.11.2.min.js')
    //- script(src='http://dimension.su/scripts/flip-countdown/js/flipclock.min.js')
    //- script(src='http://dimension.su/scripts/flip-countdown/js/jquery.cookie.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='js/jquery.easing.min.js')
    script(src='js/jquery.fittext.js')
    script(src='js/wow.min.js')
    // Custom Theme JavaScript
    script(src='js/creative.js')
    //- script(src='js/countdown.js')
    script(src='js/Contact_Form.js')
    script.
      $('.alicegif').hide();
        $('.alicelogo').hover(function(){
            $('.alicelogo').hide(function(){
                $('.alicegif').show();
            })
        });

      $('.contact-info-box h3 i').css("font-family","FontAwesome")
