$silver: #fafafa;
$launchable-orange: #f86621;

.silver-bg {
    background-color: $silver;
}

.launchable-orange {
    color: $launchable-orange !important;
}

.white-bg {
    background-color: #ffffff !important;
}

.uppercase{
    text-transform: uppercase;
}

.middle{
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}
