#fh5co-products.row
    #about.col-lg-6.col-lg-offset-3.text-center
    h1.fh5co-lead.to-animate
        | WHO 
        b WE 
        | ARE
    hr.primary
    p
        | We are Team Launchable, a mobile app development company based in downtown Orlando that specializes in augmented reality.